---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div>
		<ul>
			<li>
				<a href="./progressbar-with-react-and-emotion/">
					progressbar-with-react-and-emotion
				</a>
			</li>
			<li>
				<a href="./box-sizing/"> box-sizing</a>
			</li>
		</ul>
	</div>
</Layout>

<style></style>
