---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div>
		<a href="./progressbar-with-react-and-emotion/"
			>progressbar-with-react-and-emotion</a
		>
	</div>
</Layout>

<style></style>
