---
import HeaderComponent from '../components/HeaderComponent';
import LinkCardListComponent from '../components/LinkCardListComponent';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<HeaderComponent />
		<LinkCardListComponent />
	</main>
</Layout>