---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<h1>nmemoto.dev</h1>
		<ul>
			<li><a href="https://github.com/nmemoto" target="_blank">GitHub</a></li>
			<li><a href="https://twitter.com/nmemoto" target="_blank">X(Twitter)</a></li>
			<li><a href="https://bsky.app/profile/nmemoto.bsky.social" target="_blank">bluesky</a></li>
			<li><a href="https://zenn.dev/nmemoto" target="_blank">Zenn</a></li>
		</ul>
	</main>
</Layout>